.main-div{
    border: 1px solid black;
    background-color:rgb(233,236,189);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    margin-left: 300px;
    margin-top: 20px;
}

.demo{
    color:rgb(4,19,55);
 
}
.input{
    padding-left: 5px;
    
}
.table-head{
    padding: 2px;
}
.table-data{
    color:white;
    border: 1px solid black; 
    text-align: center;
    padding: 5px;
}
.xyz{
    margin-bottom: 5px;
    

}
.button{
    padding:2px;
    background-color: brown;
    margin-left:10px;
}
.button-del{
    color:darkgrey;
    background-color:brown;
}
.table {
      width: 50%;
      border:1px solid black;
      border-collapse: collapse;  
      margin: 10px auto;
    }
    th, td {
      border: 1px solid black; 
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2; 
    }
    tr:hover {
      background-color: #e0e0e0;
    } 

