
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333;
  padding: 5px;
  width: 100%;
  font-family:sans-serif;
}

.navbar a {
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 16px;
  transition:  0.3s ease-in-out;
}

.navbar a:hover {
  background-color:darkgray;
  border-radius: 4px;
}


@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    width: 100%;
    text-align: center;
  }
}